.servicesSection {
  padding: 120px 8.472222% 140px;

  .contentWrapper {
    max-width: 1200px;
    margin: 0 auto;

    .sectionHeader {
      text-align: center;

      > h3 {
        font-weight: 800;
        font-size: 36px;
        padding-bottom: 30px;
      }

      > p {
        font-size: 24px;
      }
    }

    .cardWrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      gap: 80px 116px;

      padding-top: 90px;
    }
  }
}

@media (max-width: 400px) {
  .servicesSection {
    padding: 70px 20px 90px;

    .contentWrapper {
      .sectionHeader {
        > h3 {
          padding-bottom: 15px;
        }

        p {
          font-size: 16px;
        }
      }

      .cardWrapper {
        padding-top: 80px;
      }
    }
  }
}
